body {
	width: 500px;
	height: auto;
	margin: 0 auto;
}

/**
* Set position for calendar image.
*/
a img {
	width: 30px;
	height: 30px;
	margin-left: -29px;
	margin-top: 1px;
}

#main table {
	border-collapse: collapse;	
}

#main table tr td {
	text-align: center;
}

td:hover {
	background: lightgrey;
}

#main table tr th {
	background: orange;
}

select#selected_month {
	width: 100%;
	text-align: center;
}