* {
	margin: 0px;
	padding: 0px;
}

form {
	width: 790px;
	padding: 5px;
	margin: 5px;
}

table tr th {
	text-align: right;
}

#button {
	padding-left: 100px;
	padding-top: 30px;
}

#button button {
	text-align: center;
	color: #2E86C1;
}

#check-username, #check-password, #check-email {
	color: red;
	font-size: 13px;
}

#result {
	color: orange;
	font-size: 30px;
}