* {
	margin: 0px;
	padding: 0px;
}

form {
	width: 790px;
	padding: 5px;
	margin: 5px;
}

table tr th {
	text-align: right;
}

#button {
	padding-left: 114px;
	margin-top: 5px;
}

#button button {
	text-align: center;
	color: #fff;
	margin-left: 10px;
	background: brown;
	width: 60px;
	height: 25px;
}

#check-username, #check-password, #check-email {
	color: red;
	font-size: 13px;
}

#result {
	color: orange;
	font-size: 30px;
}