* {
	margin:0;
	padding: 0;
}

#slider {
	margin-top: 10px !important;
	margin: auto;
	height: 379px;
	width: 960px;
	background: #272727;
	position: relative;
	border: solid 3px black;
}


#slider #prev-slide, #next-slide {
	position: absolute;
	height: 35px;
	width: 35px;
}


#slider #prev-slide:hover {
	background: url("../images/left-arrow-hover.png") no-repeat center;
}
 
#slider #next-slide:hover {
	background: url("../images/right-arrow-hover.png") no-repeat center;
}


#slider #prev-slide {
	background: url("../images/left-arrow5.png") no-repeat center;
}

#slider #next-slide {
	right: 0px;
	background: url("../images/right-arrow5.png") no-repeat center;
}

#slider #prev-slide img {
	width: 35px;
	height: 35px;
	cursor: pointer;
}

#slider #next-slide img {
	width: 35px;
	height: 35px;
	cursor: pointer;
}

ul.slide-box {
	list-style-type: none;
	width: 100%;
	height:100%;
}

.slide-box img {
	width:960px;
	height:360px;
}
ul.slide-box>li {
	display: none;
	width: 100%;
	height:100%;
}

#item1 {
	display: block;
}
#index1 {
	background: red;
}

.index {
	position: absolute;
	text-align: center;
	top:360px;
	left: 435px;
}

ul.index-menu {
	list-style-type: none;
}

ul.index-menu>li.track {
	cursor: pointer;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: green;
	border-radius: 50%;
}
